@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata');

*{
  box-sizing: border-box;
}

html{
  font-size: 18px;
}

body{
  margin:0;
  font-family: Quicksand,sans-serif;
}
 a{
  text-decoration:none;
 }